:root {
	--white: #f5f5f1;
	--red: #e50914;
	--red-light: #f40612;
	--red-dark: #bb0a12;
	--black: #221f1f;
	--transition: 0.15s;
	--radius-sm: 0.2rem;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	transition: var(--transition);
}
svg {
	height: 100%;
	width: auto;
	color: inherit;
}
input {
	border-radius: 0;
}
button {
	font-weight: 300;
}
@media screen and (min-width: 300px) {
	h1 {
		font-size: calc(2rem + 0.1vmin);
	}
	h2 {
		font-size: calc(1.2rem + 0.1vmin);
	}
	p {
		font-size: calc(1rem + 0.1vmin);
	}
	button {
		font-size: calc(0.8rem + 0.1vmin);
	}
	input {
		padding: calc(1rem + 0.5vmin);
	}
}
@media screen and (min-width: 600px) {
	h1 {
		font-size: calc(3.5rem + 0.1vmin);
	}
	h2 {
		font-size: calc(1.8rem + 0.1vmin);
	}
	p {
		font-size: calc(1rem + 0.1vmin);
	}
	button {
		font-size: calc(0.9rem + 0.1vmin);
	}
	input {
		padding: calc(1.2rem + 0.5vmin);
	}
}
